$main-color: #f5d02a;
$off-color: #353223;
$gray-color: #444;
$white-color: #eee;

$padding: 0.5em;
$media-xlg: 1440px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $off-color;
    color: $white-color;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $white-color;
    transition: color 0.2s ease-out;
}

.jb-hidden {
    display: none;
}

.jb-fixed {
    position: fixed;
}

.jb-row {
    display: flex;
    flex-wrap: wrap;
}

.jb-column {
    display: flex;
    flex-direction: column;
}

.jb-center {
    text-align: center;
    margin: auto;
}

.jb-fill {
    height: 100%;
    flex: 1;
}

.jb-content {
    max-width: 1000px;
    font-size: 0.9em;
}

.jb-btn {
    color: $off-color;
    background-color: $main-color;
    border-radius: 4px;
    border: 2px solid $off-color;
    padding: 1em;
}

header {
    top: 0;
    width: 100%;
    background-color: $main-color;
    color: $off-color;
    border-bottom: 2px solid $off-color;
    
    .jb-row {
        align-items: center;
        flex-wrap: nowrap;

        .jb-logo {
            display: flex;
            padding: $padding;
            align-items: center;
            color: $off-color;
    
            .fa-5x {
                font-size: 3em;
            }
    
            .jb-title {
                padding: 0 0 0 $padding;
            }
        }
        
        .jb-nav-wrapper {
            flex: 1;
            display: flex;
            text-align: right;
            align-items: center;
            justify-content: flex-end;
            padding: $padding;
            position: relative;

            form {
                flex: 1;
                text-align: right;
                margin: $padding;
                display: none;
            }

            button {
                margin: $padding;
            }

            .jb-nav {
                display: none;
                flex-wrap: wrap;
                position: absolute;
                top: 65px;
                
                a {
                    flex: 0 0 100%;
                    display: list-item;
                    text-align: center;
                    list-style-type: none;
                    &:hover {
                        color: #756c45;
                    }    
                    &:first-of-type {
                        border-bottom: none;
                    }
                }
            }
        
            .jb-nav-visible {
                display: flex;
            }
        }
    }

    &.jb-job-header {
        .jb-row .jb-nav-wrapper {
            form {
                display: block;
            } 

            button, nav {
                display: none;
            }
        }
    }
}

main {

    .jb-background {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .jb-banner {
        border: 2px solid black;
        border-right: none;
        border-left: none;
        background-color: $gray-color;
        padding: 25px;
    }

    .jb-icon {
        padding: 15px;
        max-width: 300px;
        h4 {
            padding: $padding;
        }
    }

    .jb-spinner {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1001;
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        text-align: center;

        i {
            color: $main-color;
            animation: spin 2s ease-out infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    section.jb-fill {
        flex: 3;
    }
    
    aside {
        display: none;

        flex: 1;
        margin-left: $padding;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 0.8em;

        table {
            width: 100%;
            color: $white-color;
            background-color: $gray-color;
            border-collapse: collapse;
            text-align: left;
            
            th, td {
                padding: 5px;
                border-top: 1px solid gray;
            }
            
            thead th {
                border-bottom: 2px solid gray;
            }

            tbody tr:hover {
                background-color: #555;
            }
        }
    }

    #map {
        color: black;
        
        ~ .jb-control {
            display: none;
        }

        .leaflet-popup-content p {
            margin: 0;
        }
    }

    section.jb-main {
        padding: $padding;
        margin: 0 auto;
    }

}

footer {
    border-top: 2px solid black;
    padding: 50px $padding;
    width: 100%;
    div {
        flex: 1;
    }

}

@media (min-width: $media-sm) {
    header {
        .jb-row {
            .jb-nav-wrapper form {
                display: block;
            }
        }
    }
}

@media (min-width: $media-md) {
    header.jb-expand {

        .jb-row .jb-logo {
            .jb-title {
                font-size: 4em;
            }
            .fa-5x {
                font-size: 10em;
            }
        }
    }
    
}
@media (min-width: $media-lg) {
    header {
        &.jb-job-header {
            display: block;
        }
    }
    main.jb-main {
        width: 100%;
        margin: $padding auto;
        max-width: $media-xlg;

        .jb-spinner {
            margin-top: -0.5em;
        }

        #map {
            .jb-btn {
                display: none;
            }
        }

        aside {
            display: block;
        }
    }
}

@media (min-width: $media-xlg) {}
  