$main-color: #f5d02a;
$off-color: #353223;
$white-color: #cab248;
$media-lg: 992px;
$media-md: 768px;

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $off-color;
    color: $white-color;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $white-color;
    transition: color 0.2s ease-out;
}

.jb-hidden {
    display: none;
}

.jb-fixed {
    position: fixed;
}

.jb-row {
    display: flex;
    flex-wrap: wrap;
}

.jb-column {
    display: flex;
    flex-direction: column;
}

.jb-center {
    text-align: center;
    margin: auto;
}

.jb-fill {
    height: 100%;
    flex: 1;
}

.jb-content {
    max-width: 1000px;
}

.jb-btn {
    color: $off-color;
    background-color: $main-color;
    border-radius: 4px;
    border: 2px solid $off-color;
    padding: 10px;
}

header {
    top: 0;
    width: 100%;
    background-color: $main-color;
    color: $off-color;
    
    .jb-logo {
        padding: 10px;
        align-items: center;
        .fa-5x {
            font-size: 3em;
        }

        .jb-title {
            flex: 1;
            padding: 0 0 0 10px;
        }
        
        .jb-search {
            flex: 0 0 50px;
        }
        
        .jb-btn {
            flex: 0 0 50px;
        }
    }

    .jb-nav {
        display: none;
        
        a {
            flex: 0 0 100%;
            font-size: 1.5em;
            margin-top: -50px;
            display: list-item;
            text-align: center;
            &:hover {
                color: #756c45;
            }    
            &:first-of-type {
                border-bottom: none;
            }
        }
    }

    .jb-nav-visible {
        display: block;
        a {
            margin-top: 0;
        }
    }
}

main {

    .jb-background {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .jb-banner {
        // background-color: $main-color;
        padding: 25px;
        // color: $off-color;
    }

    .jb-icon {
        padding: 15px;
        max-width: 300px;
        h4 {
            padding: 10px;
        }
    }
    
    aside.jb-sidebar {
        display: none;
        // padding: 10px;
        // flex: 0 0 300px;
    }

    .jb-form {
        display: none;
        // padding: 5px;
        // text-align: right;
        // span {
        //     max-width: 50%;
        //     &::before {
        //         display: inline-block;
        //         font-style: normal;
        //         font-variant: normal;
        //         text-rendering: auto;
        //         -webkit-font-smoothing: antialiased;
        //         font-family: "Font Awesome 5 Free"; 
        //         font-weight: 900; 
        //         content: "\f002";
        //         color: black;
        //     }
        // }
    }

    #map {
        
        > .jb-control {
            display: none;
        }

        .leaflet-popup-content p {
            margin: 0;
        }
    }

    section.jb-main {
        padding: 10px;
    }

}

footer {
    padding: 50px 0;
    width: 100%;
    div {
        flex: 1;
    }
    a {
        padding: 5px;
    }

}

@media (min-width: $media-md) {
    
}
@media (min-width: $media-lg) {
    
}
  