html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #353223;
  color: #eee; }

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #eee;
  transition: color 0.2s ease-out; }

.jb-hidden {
  display: none; }

.jb-fixed {
  position: fixed; }

.jb-row {
  display: flex;
  flex-wrap: wrap; }

.jb-column {
  display: flex;
  flex-direction: column; }

.jb-center {
  text-align: center;
  margin: auto; }

.jb-fill {
  height: 100%;
  flex: 1; }

.jb-content {
  max-width: 1000px;
  font-size: 0.9em; }

.jb-btn {
  color: #353223;
  background-color: #f5d02a;
  border-radius: 4px;
  border: 2px solid #353223;
  padding: 10px; }

header {
  top: 0;
  width: 100%;
  background-color: #f5d02a;
  color: #353223; }
  header .jb-row {
    align-items: center;
    flex-wrap: nowrap; }
    header .jb-row .jb-logo {
      display: flex;
      padding: 10px;
      align-items: center;
      color: #353223; }
      header .jb-row .jb-logo .fa-5x {
        font-size: 3em; }
      header .jb-row .jb-logo .jb-title {
        padding: 0 0 0 10px; }
    header .jb-row form {
      flex: 1;
      text-align: right;
      margin: 10px;
      display: none; }
    header .jb-row .jb-btn-wrapper {
      flex: 1;
      text-align: right; }
      header .jb-row .jb-btn-wrapper button {
        width: 45px;
        margin: 10px; }
  header .jb-nav {
    display: none; }
    header .jb-nav a {
      flex: 0 0 100%;
      font-size: 1.5em;
      margin-top: -50px;
      display: list-item;
      text-align: center; }
      header .jb-nav a:hover {
        color: #756c45; }
      header .jb-nav a:first-of-type {
        border-bottom: none; }
  header .jb-nav-visible {
    display: block; }
    header .jb-nav-visible a {
      margin-top: 0; }
  header.jb-job-header form {
    display: block; }
  header.jb-job-header div.jb-btn-wrapper, header.jb-job-header nav {
    display: none; }

main .jb-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
main .jb-banner {
  background-color: #444;
  padding: 25px; }
main .jb-icon {
  padding: 15px;
  max-width: 300px; }
  main .jb-icon h4 {
    padding: 10px; }
main section.jb-fill {
  flex: 3; }
main aside {
  display: none;
  flex: 1;
  margin-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.8em; }
  main aside table {
    width: 100%;
    color: #eee;
    background-color: #444;
    border-collapse: collapse;
    text-align: left; }
    main aside table th, main aside table td {
      padding: 5px;
      border-top: 1px solid gray; }
    main aside table thead th {
      border-bottom: 2px solid grey; }
    main aside table tbody tr:hover {
      background-color: #555; }
main #map {
  color: black; }
  main #map > .jb-control {
    display: none; }
  main #map .leaflet-popup-content p {
    margin: 0; }
main section.jb-main {
  padding: 10px;
  margin: 0 auto; }

footer {
  padding: 50px 10px;
  width: 100%; }
  footer div {
    flex: 1; }

@media (min-width: 576px) {
  header .jb-row form {
    display: block; } }
@media (min-width: 992px) {
  header.jb-job-header {
    display: block; }

  main.jb-main {
    width: 100%;
    margin: 10px auto;
    max-width: 1440px; }
    main.jb-main #map .jb-btn {
      display: none; }
    main.jb-main aside {
      display: block; } }

/*# sourceMappingURL=app.css.map */
