$main-color: #f5d02a;
$off-color: #353223;
$gray-color: #444;
$white-color: #eee;

$padding: 0.5em;
$media-max: 1440px;
$media-xlg: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $off-color;
    color: $white-color;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #0078A8;
    transition: color 0.2s ease-out;
}

.jb-hidden {
    display: none;
}

.jb-fixed {
    position: fixed;
}

.jb-row {
    display: flex;
    flex-wrap: wrap;
}

.jb-column {
    display: flex;
    flex-direction: column;
}

.jb-center {
    text-align: center;
    margin: auto;
}

.jb-fill {
    height: 100%;
    flex: 1;
}

.jb-content {
    max-width: 1000px;
    font-size: 0.9em;
}

.jb-btn {
    color: $off-color;
    background-color: $main-color;
    border-radius: 4px;
    border: 2px solid $off-color;
    padding: $padding;
}

header {
    top: 0;
    width: 100%;
    background-color: $main-color;
    color: $off-color;
    border-bottom: 2px solid $off-color;
    
    .jb-row {
        align-items: center;
        flex-wrap: nowrap;

        .jb-logo {
            display: flex;
            padding: $padding;
            align-items: center;
            color: $off-color;
    
            .fa-5x {
                font-size: 2em;
            }
    
            .jb-title {
                font-size: 1em;
                padding: 0 0 0 $padding;
            }
        }
        
        .jb-nav-wrapper {
            flex: 1;
            display: flex;
            text-align: right;
            align-items: center;
            justify-content: flex-end;
            padding: $padding;
            position: relative;

            form {
                flex: 1;
                display: flex;

                justify-content: flex-end;
                align-items: center;

                div { 
                    color: $gray-color;
                    background: rgba(255, 239, 167, 0.5);
                    padding: 0.25em;
                    &:focus-within {
                        outline: -webkit-focus-ring-color auto 5px;
                    }

                    i, input.jb-search {
                        background: transparent;
                        padding: 1px;
                        font-size: 0.7em;
                    }
                    input.jb-search {
                        font-family: inherit;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                
            }

            button {
                display: none;
                margin: $padding;
                padding: 1em;
            }

            nav.jb-nav {
                display: none;
                flex-wrap: wrap;
                position: absolute;
                top: 65px;
                z-index: 1004;
                
                a {
                    flex: 0 0 100%;
                    text-align: center;
                    &:hover {
                        color: #756c45;
                    }    
                    &:first-of-type {
                        border-bottom: none;
                    }
                }   
            }
        }
    }
}

main {

    .jb-background {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .jb-banner {
        border: 2px solid black;
        border-right: none;
        border-left: none;
        background-color: $gray-color;
        padding: 25px;
    }

    .jb-icon {
        padding: 15px;
        max-width: 300px;
        h4 {
            padding: $padding;
        }
    }

    .jb-message {
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1003;
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        text-align: center;

        h2 {
            color: #fd2c2c;
            background-color: rgba(0,0,0,0.7);
            max-width: $media-sm;
            margin: 0 auto;
        }

        i.fa-spinner {
            color: $main-color;
            animation: spin 1.5s ease-out infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    section.jb-fill {
        flex: 1;

        &.jb-hidden {
            display: none;
            ~ aside {
                flex: 100%;
                margin: 0;
                display: block;
            }  
        } 
    }
    
    aside {
        display: none;

        z-index: 1001;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 0.8em;
        background-color: $off-color;

        table {
            width: 100%;
            color: $white-color;
            background-color: $gray-color;
            border-collapse: collapse;
            text-align: left;
            
            th, td {
                padding: 5px;
                border-top: 1px solid gray;
            }
            
            thead th {
                border-bottom: 2px solid gray;
            }

            tbody tr:hover {
                background-color: #555;
            }
        }
    }

    .jb-controls {
        z-index: 1002;
        position: fixed;
        right: 0;
        margin: $padding;

        .jb-btn {
            text-align: center;
        }
    }

    #map {
        color: black;
        
        ~ .jb-popup {
            display: none;
        }

        .leaflet-popup-content p {
            margin: 0;
        }
    }

    section.jb-main {
        padding: $padding;
        margin: 0 auto;

        h1, h4, h5, div.jb-html {
            padding: $padding;
            background-color: $gray-color;
        }
    }

}

footer {
    border-top: 2px solid black;
    padding: 50px $padding;
    width: 100%;
    div {
        flex: 1;
    }
    a {
        color: $white-color;
    }
}

@media (min-width: $media-sm) {
    header {
        .jb-row {
            .jb-logo {
                .fa-5x {
                    font-size: 3em;
                }
                .jb-title {
                    font-size: 2em;
                }
            }
            .jb-nav-wrapper {
                form {
                    margin: $padding;
                    
                    div {
                        i, input.jb-search {
                            font-size: 1.2em;

                        }
                    }
                }
                button, nav {
                    display: flex;
                    &.jb-nav-visible {
                        display: flex;
                    }
                }
            }
        }
    }
}

@media (min-width: $media-md) {
    header {
        .jb-row .jb-nav-wrapper {
            button {
                display: none;
            }
            nav.jb-nav, nav.jb-nav-visible {
                top: 0;
                display: block;
                position: relative;

                a {
                    font-size: 1.5em;
                    border: none;
                    display: initial;
                }
            }
        }
    }
}

@media (min-width: $media-lg) {
    main.jb-main {
        width: 100%;
        margin: $padding auto;
        max-width: $media-max;

        .jb-message {
            margin-top: -0.5em;
        }
    }
}

@media (min-width: $media-xlg) {
    main.jb-main {
        .jb-controls .jb-btn {
            display: none;
        }
        section.jb-fill {
            &, &.jb-hidden {
                display: inherit;
                ~ aside {
                    flex: 0 0 380px;
                    margin-left: $padding;
                    display: block;
                }  
            } 
        }
    }
}
  